body {
}

.piece {
	display: none;
}

.cell {
	font-size: 8;
	position: absolute;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
	cursor: default;
}

.haspieces {
	background-color: red;
}

#tooltip {
	position: absolute;
	background-color: white;
	display: none;
}